version: '3.1'
services:
  config-service:
    image: octafish/config-service
    ports:
      - "8888:8888"
  eureka-service:
    image: octafish/eureka-service
    ports:
      - "8761:8761"
    links:
    - config-service
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  target-service:
      image: octafish/target-service
      ports:
        - "8001:8001"
      links:
      - config-service
      - eureka-service
      - mongo